# Setting Up Database

In [1]:
#import libraries 
import mysql.connector as connector

In [2]:
#import the pooling and error libraries
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

In [3]:
connection = connector.connect(user='root', password='********')
cursor = connection.cursor()

### TASK 1: Establish a connection

In [7]:
# Creating a Database
try:
    cursor.execute("CREATE DATABASE little_lemon_db")
except:
    cursor.execute("DROP DATABASE little_lemon_db")
    cursor.execute("CREATE DATABASE little_lemon_db")

cursor.execute("USE little_lemon_db")

In [8]:
#MenuItems table
print('Creating Menu item Table...')
create_menuitem_table = """CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""


print('Inserting Data into Menu item Table...')
#*******************************************************#
# Insert query to populate "MenuItems" table:
#*******************************************************#
insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""


# Create Menu table
cursor.execute(create_menuitem_table)
# Populate Menu table
cursor.execute(insert_menuitems)

#commiting changes 
print('The changes have been commited to the database')
connection.commit()

Creating Menu item Table...
Inserting Data into Menu item Table...
The changes have been commited to the database

In [9]:
#Menutable
print('Creating menu table...')
create_menu_table = """CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

print('Inserting Data into Menu table...')
#*******************************************************#
# Insert query to populate "Menu" table:
#*******************************************************#
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""


# Create Menu table
cursor.execute(create_menu_table)
# Populate Menu table
cursor.execute(insert_menu)

#commiting changes 
print('The changes have been commited to the database')
connection.commit()

Creating menu table...
Inserting Data into Menu table...
The changes have been commited to the database

In [16]:
# Booking Table
print('Creating Bookings table...')
create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""


#*******************************************************#
# Insert query to populate "Bookings" table:
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

# Create Bookings table
cursor.execute(create_booking_table)
print('Insert data into bookings...')
# Populate Bookings table
cursor.execute(insert_bookings)

print('Commiting changes into the database...')
connection.commit()

Creating Bookings table...
Insert data into bookings...
Commiting changes into the database...

In [10]:
create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""


#*******************************************************#
# Insert query to populate "Orders" table:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

print('Creating orders table...')

# Create Orders table
cursor.execute(create_orders_table)

print('Inserting data into orders table...')
# Populate Orders table
cursor.execute(insert_orders)

print('Commiting changes into the database...')
connection.commit()

Creating orders table...
Inserting data into orders table...
Commiting changes into the database...

In [11]:
create_employees_table = """CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR(100),
Role VARCHAR(100),
Address VARCHAR(100),
Contact_Number INT,
Email VARCHAR(100),
Annual_Salary VARCHAR(100)
);"""


#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#
insert_employees = """
INSERT INTO Employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary) VALUES
(01,'Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
(02,'Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
(03,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
(04,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
(05,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
(06,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""

print('Creating employees table...')
# Create Employees table
cursor.execute(create_employees_table)

print('Inserting Data into employees table...')
# Populate Employees table
cursor.execute(insert_employees)
print('Commiting changes into the database...')
connection.commit()

Creating employees table...
Inserting Data into employees table...
Commiting changes into the database...

In [12]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error
dbconfig={
    "database":"little_lemon_db", 
    "user":"root", 
    "password":"bk5571290"
}
try:
    pool_a = MySQLConnectionPool(pool_name = 'll_db',
                              pool_size = 2,
                              **dbconfig)
    print("The connection pool is created with a name: ", pool_a.pool_name)
    print("The pool size is:", pool_a.pool_size)
    
except Error as er:
    print('Error code:', er.errno)
    print('Error message:', er.msg)

The connection pool is created with a name:  ll_db
The pool size is: 2

In [13]:
connection1 = pool_a.get_connection()
cursor = connection1.cursor()

### TASK 2: Implement a stored procedure called PeakHours

In [19]:
Stored_procedure= '''
CREATE PROCEDURE PeakHours()

BEGIN

SELECT HOUR(BookingSlot) AS BookingHour,
COUNT(HOUR(BookingSlot)) AS Total
FROM Bookings
GROUP BY BookingHour
ORDER BY Total;

END

'''

In [26]:
cursor.execute('Drop procedure PeakHours')

In [27]:
 # Execute the query
cursor.execute(Stored_procedure)

# Call the stored procedure with its name
cursor.callproc('PeakHours')

()

In [28]:
# Retrieve recordsin dataset
results = next(cursor.stored_results())
dataset = results.fetchall()

# Retrieve column names using list comprehension in a for loop
for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description]
    
#print column names
print(columns)

print()
#print data
for data in dataset:
    print(data)

['BookingHour', 'Total']

(15, 1)
(17, 1)
(18, 1)
(20, 1)
(19, 2)

### TASK 3: Implement a stored procedure GuestStatus

In [32]:
stored_procedure_2 = '''
CREATE PROCEDURE GuestStatus()

BEGIN

SELECT
Bookings.BookingID AS OrderNumber, 
CONCAT(bookings.GuestFirstname, 
' ', 
bookings.GuestLastname) AS CustomerName,
Role AS Employee,
CASE
    WHEN Role in ('Manager', 'Assistant Manager') THEN 'Ready to pay'
    WHEN Role ='Head Chef' THEN 'Ready to serve'
    WHEN Role = 'Assistant Chef' THEN 'Preparing Order'
    WHEN Role = 'Head Waiter' THEN 'Order served'
    ELSE 'Pending'
END AS Status

From Bookings
LEFT JOIN 
Employees ON Bookings.EmployeeID=Employees.EmployeeID;

END
'''

In [35]:
cursor.execute('Drop Procedure GuestStatus')

In [36]:
cursor.execute(stored_procedure_2)

In [37]:
# Call the stored procedure with its name
cursor.callproc('GuestStatus')
# Retrieve recordsin dataset
results = next(cursor.stored_results())
dataset = results.fetchall()

# Retrieve column names using list comprehension in a for loop
for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description]
    
#print column names
print(columns)


#print data
for data in dataset:
    print(data)

['OrderNumber', 'CustomerName', 'Employee', 'Status']
(1, 'Anna Iversen', 'Manager', 'Ready to pay')
(2, 'Joakim Iversen', 'Manager', 'Ready to pay')
(3, 'Vanessa McCarthy', 'Head Chef', 'Ready to serve')
(4, 'Marcos Romero', 'Assistant Chef', 'Preparing Order')
(5, 'Hiroki Yamane', 'Assistant Manager', 'Ready to pay')
(6, 'Diana Pinto', 'Head Waiter', 'Order served')

In [38]:
# Put the connection back to the pool
print('\nReturning the connection back to the pool.')
connection1.close()
print('The connection is placed back into the pool for the next user to connect.')

Returning the connection back to the pool.
The connection is placed back into the pool for the next user to connect.

# Little Lemon Analysis and Sales Report

In [41]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

dbconfig = {
    "database":"little_lemon_db",
    "user" : "root",
    "password" : "bk5571290"
}

try:
    pool_b = MySQLConnectionPool(pool_name = "pool_b",pool_size = 2,**dbconfig)
    print("The connection pool is created with the name: ",pool_b.pool_name)
    print("The pool size is:",pool_b.pool_size)

except Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

The connection pool is created with the name:  pool_b
The pool size is: 2

In [42]:
# Guest 1
connection1 = pool_b.get_connection()
cursor1 = connection1.cursor()
print('Inserting Guest 1 Orders into booking table...')
guest1 = """
INSERT INTO Bookings 
    (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES
    (8,'Anees','Java','18:00:00',6);"""

cursor1.execute(guest1)
print('Commiting the changes into the table...')
connection1.commit()

Inserting Guest 1 Orders into booking table...
Commiting the changes into the table...

In [43]:
#guest 2

connection2 = pool_b.get_connection()
cursor2 = connection2.cursor()
print('Inserting Guest 2 Orders into booking table...')
guest2 = """
INSERT INTO Bookings 
    (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES
    (5, 'Bald','Vin','19:00:00',6);"""

cursor2.execute(guest2)
print('Commiting the changes into the table...')
connection2.commit()

Inserting Guest 1 Orders into booking table...
Commiting the changes into the table...

In [47]:
try:
    connection3 = pool_b.get_connection()
    print("The guest is connected")
except:
    print("Adding new connection in the pool.")
    connection=connector.connect(user="root",password="bk5571290")
    
    pool_b.add_connection(cnx=connection)
    print("A new connection is added in the pool.\n")
    
    connection3 = pool_b.get_connection()
    print("The third connection is added to the pool.")
    print("You can now insert your booking data")

Adding new connection in the pool.
A new connection is added in the pool.

The third connection is added to the pool.
You can now insert your booking data

In [48]:
#Guest 3
cursor3 =connection3.cursor()
print('Inserting Guest 3 Orders into booking table...')
Guest3="""INSERT INTO Bookings 
    (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES
    (12, 'Jay','Kon','19:30:00',6);"""
cursor3.execute(Guest3)
print('Commiting the changes into the table...')
connection3.commit()

Inserting Guest 3 Orders into booking table...
Commiting the changes into the table...

In [49]:
# Close all connection

for connection in [connection1,connection2, connection3]:
    try:
        connection.close()
        print('Connection is returned to the pool')
    except Error as er:
        print("\nConnection can't be returned to the pool")
        print('Error message: ', er.msg)

Connection is returned to the pool
Connection is returned to the pool

Connection can't be returned to the pool
Error message:  Failed adding connection; queue is full

In [51]:
# Get a connection from pool_a and create a cursor object
connection = pool_b.get_connection()
cursor=connection.cursor()
print("""The cursor object "cursor" is created.""")

The cursor object "cursor" is created.

In [52]:
#The name and EmployeeID of the little lemon manager
little_lemon_manager='''
SELECT Name, EmployeeID 
FROM Employees 
WHERE Role = 'Manager'
'''

cursor.execute(little_lemon_manager)
#Grabbing columns names
columns =cursor.column_names
results = cursor.fetchall()

#printing out the columns
print(columns)

#Printing out the dataset
for result in results:
    print(result)

('Name', 'EmployeeID')
('Mario Gollini', 1)

In [53]:
# The name of employee who receives the heighest salary

highest_salary = '''
SELECT Name, Role
FROM Employees
WHERE Annual_Salary = (SELECT MAX(Annual_Salary) From Employees)
'''

cursor.execute(highest_salary)
#Grabbing columns names
columns =cursor.column_names
results = cursor.fetchall()

#printing out the columns
print(columns)

#Printing out the dataset
for result in results:
    print(result)

('Name', 'Role')
('Mario Gollini', 'Manager')

In [54]:
# The number of guest booked between 18:00 and 20:00

booked= '''
SELECT COUNT(*) as TotalGuest
FROM bookings
WHERE BookingSlot BETWEEN '18:00:00' AND '20:00:00';

'''

cursor.execute(booked)
#Grabbing columns names
columns =cursor.column_names
results = cursor.fetchall()
#printing out the columns
print(columns)

#Printing out the dataset
for result in results:
    print(result)

('TotalGuest',)
(7,)

In [55]:
# The Full name and BookingID of all guests waiting to be seated

waiting_list= '''
SELECT CONCAT(GuestFirstName, ' ', GuestLastName) as FullName,
BookingID, Hour(BookingSlot) AS BookingSlot
FROM Bookings
order by BookingSlot;
'''

#Executing the query
cursor.execute(waiting_list)
#Grabbing columns names
columns =cursor.column_names
results = cursor.fetchall()

#printing out the columns
print(columns)
print()
#Printing out the dataset
for result in results:
    print(result)

('FullName', 'BookingID', 'BookingSlot')

('Vanessa McCarthy', 3, 15)
('Marcos Romero', 4, 17)
('Hiroki Yamane', 5, 18)
('Anees Java', 7, 18)
('Anna Iversen', 1, 19)
('Joakim Iversen', 2, 19)
('Bald Vin', 8, 19)
('Jay Kon', 9, 19)
('Diana Pinto', 6, 20)

In [56]:
#creaating BasicSalesReport procedure
stored_procedure = '''
CREATE PROCEDURE BasicSalesReport()

BEGIN

SELECT SUM(BillAmount*Quantity) AS TotalSale, 
AVG(BillAmount*Quantity) AS AverageSale, 
MAX(BillAmount) AS MaximumBillPaid, 
MIN(BillAMount) AS MinimumBillPaid 
FROM Orders;

END
'''

In [57]:
# Executing the stored procedure
cursor.execute(stored_procedure)

In [58]:
# Call the stored procedure with its name
cursor.callproc('BasicSalesReport')

# Retrieve recordsin dataset
results = next(cursor.stored_results())
dataset = results.fetchall()

# Retrieve column names using list comprehension in a for loop
for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description]
    
#print column names
print(columns)

print()
#print data
for data in dataset:
    print(data)

['TotalSale', 'AverageSale', 'MaximumBillPaid', 'MinimumBillPaid']

(Decimal('329'), Decimal('65.8000'), 86, 37)

### Task 5

In [59]:
# Get the connection from the connection pool 'pool_a'
print('Getting a connection from the pool.')
connection2 = pool_b.get_connection()

#Create a cusor object to communication with the entire MySQL database
print ('Creating a cursor object.')
cursor = connection2.cursor(buffered=True)
print("You're now connected to the pool")

Getting a connection from the pool.
Creating a cursor object.
You're now connected to the pool

In [60]:
upcoming_bookings='''
SELECT
CONCAT(bookings.GuestFirstname, 
' ', 
bookings.GuestLastname) AS CustomerName,
BookingSlot,
e.Name 
FROM Bookings
LEFT JOIN Employees as e ON Bookings.EmployeeID = e.EmployeeID
Order by CustomerName ASC
LIMIT 3;
'''

In [61]:
#Executing the upcoming bookings query
cursor.execute(upcoming_bookings)

In [62]:
# Fetching results from the database
results= cursor.fetchall()

# printing out the dataset
for result in results:
    print(f'BookingSlot {result[1]}')
    print('\t Guest_name: ', result[0])
    print('\t Assigned to: ', result[2])
    print()

BookingSlot 18:00:00
	 Guest_name:  Anees Java
	 Assigned to:  John Millar

BookingSlot 19:00:00
	 Guest_name:  Anna Iversen
	 Assigned to:  Mario Gollini

BookingSlot 19:00:00
	 Guest_name:  Bald Vin
	 Assigned to:  John Millar

In [66]:
# Close all connection
for connection in [connection1,connection2]:
    try:
        connection.close()
        print('Connection is returned to the pool')
    except Error as er:
        print("\nConnection can't be returned to the pool")
        print('Error message: ', er.msg)

Connection can't be returned to the pool
Error message:  Failed adding connection; queue is full

Connection can't be returned to the pool
Error message:  Failed adding connection; queue is full